.about {
  width: 50%;
  display: flex;
  align-items: center;
}

.about p {
  padding: 15px;
}

@media screen and (max-width: 600px) {
  .about {
    margin: 0px;
    width: 100%;
    display: block;
  }

  .about img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
