.about {
  width: 50%;
  height: 315px;
  background-color: #3c3836;
  display: flex;
  align-items: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 30px;
  border-radius: 15px;
  outline: 5px solid #665c54;
}

.about img {
  border-radius: 15px;
  outline: 5px solid #665c54;
}

.about p {
  padding-right: 20px;
}

@media screen and (max-width: 600px) {
  .about {
    margin: 0px;
    width: 100%;
    display: block;
    border-radius: 15px;
    outline: 5px solid #665c54;
  }

  .about img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
