.about {
  width: 65%;
  height: 55%;
  background-color: #3c3836;
  display: flex;
  align-items: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 30px;
  border-radius: 15px;
  outline: 5px solid #665c54;
}

.about img {
  border-radius: 15px;
  outline: 5px solid #665c54;
}

.about p {
  padding-right: 20px;
}

@media screen and (max-width: 600px) {
  .about {
    z-index: -1;
    margin: 0px;
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    margin: auto;
    top: 65px;
    padding: 0px;
    border-radius: 0px;
    outline: 0px;
    background-color: #282828;
  }

  .about p {
    padding: 5px;
  }

  .about img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    outline: 0px;
  }
}
