.about {
  width: 50%;
  height: 350px;
  background-color: #3c3836;
  display: flex;
  align-items: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;
}

@media screen and (max-width: 600px) {
  .about {
    margin: 0px;
    width: 100%;
    display: block;
  }

  .about img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
