.titolo {
  text-align: center;
}

.dettagli {
  background-color: #3c3836;
}

img {
  width: 500px;
  height: auto;
}

.headImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image {
  display: inline-block;
}
