.titolo {
  text-align: center;
  margin: 20px;
}

.content {
  padding: 15px;
  margin: 15px;
  font-size: 1rem;
}

.dettagli {
  background-color: #3c3836;
  outline: 5px solid #665c54;
  padding: 5px;
  border-radius: 15px;
}

img {
  width: 500px;
  height: auto;
  border-radius: 15px;
}

.headImg {
  display: block;

  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.image {
  display: inline-block;
}
