@import url("https://fonts.googleapis.com/css?family=JetBrains%20Mono&display=swap");

body {
  margin: 0;
  font-family: "JetBrains Mono", sans-serif;
  background-color: #282828;
  color: #ebdbb2;
}

a:link {
  color: #458588;
}

a:visited {
  color: #83a598;
}

a:hover, a:active {
  color: #8ec07c;
}